@import "reset";
@import "grid";

#container {
	margin: 10px;

	
	li{
		list-style:none;
	}
	.task{
		&.complete{
			text-decoration: line-through;
		}
	}

	//Comment 
	.commentWrapper{
		padding:15px;
		margin: 10px 0;
		border:1px solid #cccccc;
		background-color:#e1e1e1;
		border-radius:5px;
	}

}